/* Tout type d'écran : stylisation générale et grands écrans*/

:root {
    --heighth_input: 3em;
    --no_styleForul: none;
    --no_underlineForLink: none;
    --border-radius_input: 12px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 20px 0 0 0;
    min-width: 320px;
}

#searchActionButton {
    background-image: url("./images/bx-search.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 3em;
    height: var(--heighth_input);
    border-left: none;

}

#input-contentSearch {
    width: 12em;
    height: var(--heighth_input);
    border-right: none;
}

nav ul {
    list-style-type: var(--no_styleForul);
    position: relative;
    top: 15px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-weight: bold;
}

nav li {
    padding: 4px 12px;
}

nav li:hover {
    background-color: #93684d;
    color: white;
}

header a {
    text-decoration: var(--no_underlineForLink);
    color: black
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 1vw 2vh;
}

.header_globalRight {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}

nav {
    flex: 1;
    font-size: 18px;
}

nav li {
    margin-left: 45px;
}

form {
    display: flex;
}

footer ul {
    list-style: var(--no_styleForul);
    display: flex;
    justify-content: flex-end;
}


main {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

#imagePrincipale {
    width: 458px;
    height: 485px;
    border-radius: 50%;
    position: sticky;
    left: 73px;
    top: 69px;
    animation-name: imageTournerEnRond;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin-top:2rem
}

@keyframes imageTournerEnRond {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.sectionLeft {
    background: #c7a492;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 4rem 0 4rem;
}

.sectionRight {
    background: white;
}

#shopIcon {
    position: relative;
    top: 11px;
    margin-right: 12px;
}

#buttonCommand {
    position: relative;
    right: 26px;
    margin: 12px;
    padding: 0 1em;
    background: white;
    color: #93684d;
    font-weight: bold;
    height: var(--heighth_input);
    border-radius: var(--border-radius_input);
}



h1 {
    position: relative;
    top: 7px;
    font-family: 'Amatic SC', sans-serif;
}

h2 {
    font-size: 4rem;
}

footer img {
    height: 45px;
    margin-left: 45px;
}

footer ul {
    margin-right: 40px;
}


/* Ordinateur portable */

@media screen and (max-width:1024px) {

    .sectionLeft {
        width: 400px;
        height: 18rem;
        margin-top: 6rem;
        padding:0;
    }

    #imagePrincipale {
        width: 202px;
        height: 245px;
        top:40rem
    }
    main {
        justify-content: space-around;
        margin-bottom: 10rem;
    }

    h2 {
        font-size: 25px;
    }

    #buttonCommand{
        margin:2rem 0 0 2rem;
        display: inline-block;
    }
}



/* mobile */

@media screen and (max-width:320px) {

    .sectionLeft {
        width: 300px;
        height: 38vh;
        margin: 0 0 5rem 0;
    }

    #imagePrincipale {
        width: 100px;
        height: 229px;
        margin-left: 3rem;
        margin-top: 6rem;
    }

    .header_globalRight {
        margin:1rem 0 0 3rem;

    }

    .sectionRight {
        display: none;
    }
h2 {
    font-size:1.2rem
}
}

